@model Transit.Web.Models.VehicleTypeViewModels

@{
    ViewBag.Title = "Vehicle Types";
}

@Html.Partial("_BreadCrumbs", Model.BreadCrumbs.ToList())


<div id="AddVehicleTypeRow" class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <button data-toggle="collapse" href="#VehicleTypeForm" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Add New Vehicle Type</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Row -->
<div id="VehicleTypeForm" class="collapse row" aria-expanded="false" style="height: 0px;">
    <div class="col-md-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-wrap">
                                <form action="AddNewVehicleType" method="post" class="form-horizontal">
                                    <div class="form-body">
                                        <h6 class="txt-dark capitalize-font"><i class="fa fa-truck mr-10"></i>Add New Vehicle Type</h6>
                                        <hr>
                                        <!-- /Row -->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Vehile Type Name</label>
                                                    <div class="input-group col-md-9">
                                                        <input type="text" class="form-control" required="" name="Name" placeholder="Name">
                                                        <div class="input-group-addon"><i class="ti-truck"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">Status</label>
                                                    <div class="checkbox checkbox-success col-md-9">
                                                        <input data-val="true" name="IsActive" id="IsActive" value="true" type="checkbox">
                                                        <label for="IsActive"> IsActive</label>
                                                        <input name="IsActive" type="hidden" value="false">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions mt-10">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-offset-3 col-md-9">
                                                        <button type="submit" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-check"></i> </span><span class="btn-text">Save</span></button>
                                                        <button type="button" data-toggle="collapse" href="#VehicleTypeForm" class="btn btn-warning btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-times"></i> </span><span class="btn-text">Cancel</span></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<!-- Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    @if (Model.VehicleTypes != null)
                    {
                        <div class="table-wrap">
                        <div class="table-responsive">
                            <table class="table display product-overview mb-30">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>IsActive</th>
                                        <th>Created</th>
                                        <th>Modified</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var VehicleType in Model.VehicleTypes)
                                    {
                                        <tr>
                                            <td>@VehicleType.ID</td>
                                            <td><strong>@VehicleType.Name</strong></td>
                                            <td>
                                                @if (VehicleType.IsActive)
                                                {
                                                    <span class="label label-success">Yes</span>
                                                }
                                                else
                                                {
                                                    <span class="label label-danger">No</span>
                                                }
                                            </td>
                                            <td>
                                                @VehicleType.CreatedBy
                                                <br />
                                                @VehicleType.CreatedOn
                                            </td>
                                            <td>
                                                @VehicleType.ModifiedBy
                                                <br />
                                                @VehicleType.ModifiedOn
                                            </td>
                                            <td>
                                                <button class="btn btn-warning btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Edit</span></button>
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-trash"></i> </span><span class="btn-text">Delete</span></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-muted">No Vehicle Types Found.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->

<script>

    $(document).ready(function () {

        $("#AddNewVehicleType").click(function () {
            var jqxhr = $.ajax({
                type: "get",
                url: "AddNewPartial"
            })
             .done(function (data) {
                 $("#AddVehicleTypeRow").slideUp(function () {
                     $("#VehicleTypeForm").slideUp();
                     $("#VehicleTypeForm").html(data);
                     $("#VehicleTypeForm").slideDown();
                 });
             })
             .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                 showMessage(errorThrown, true);
             })
             .always(function () {
             });
        });

        $("#AddNewVehicleTypeCancelButton").click(function () {
            debugger;
            $("#VehicleTypeForm").slideUp(function () {
                $("#AddVehicleTypeRow").slideDown();
            });
        });
    });
</script>