@model Transit.Web.Models.PageViewModel

@if (Model != null)
{
<!-- Title -->
<div class="row heading-bg bg-green">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h5 class="txt-light">@Model.Title</h5>
    </div>
    <!-- Breadcrumb -->
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        @if (Model.BreadCrumbs != null)
        {
            if (Model.BreadCrumbsExternal && Model.BreadCrumbsExternalLink != null)
            {
                <a class="btn btn-default btn-outline btn-outline-white btn-rounded pull-right ml-20" href="@Model.BreadCrumbsExternalLink" target="_blank">reference</a>
            }
                <ol class="breadcrumb">
                    @foreach (var BreadCrumb in Model.BreadCrumbs)
                    {
                        if (BreadCrumb == Model.BreadCrumbs.Last())
                        {
                            <li><a title="@BreadCrumb.Title" href="#" rel="@BreadCrumb.Rel" target="@BreadCrumb.Target">@BreadCrumb.Text</a></li>
                        }
                        else
                        {
                            <li><a title="@BreadCrumb.Title" href="@BreadCrumb.URL" rel="@BreadCrumb.Rel" target="@BreadCrumb.Target">@BreadCrumb.Text</a></li>
                        }
                    }
                </ol>
        }
    </div>
    <!-- /Breadcrumb -->
</div>
<!-- /Title -->
}