@model Transit.Web.Models.VehicleTypeViewModels

@{
    ViewBag.Title = "Vehicle Types";
}

@Html.Partial("_BreadCrumbs", Model.BreadCrumbs.ToList())

<!-- Add New Vehicle Type Row -->
<div id="AddVehicleTypeRow" class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <button id="AddNewVehicleType" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Add New Vehicle Type</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add New Vehicle Type Row -->

<!-- Vehicle Type Form Row -->
<div id="VehicleTypeForm" class="row"></div>
<!-- Vehicle Type For, Row -->

<!-- Vehicle Types Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    @if (Model.VehicleTypes != null)
                    {
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table class="table display product-overview mb-30">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>IsActive</th>
                                            <th>Created</th>
                                            <th>Modified</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var VehicleType in Model.VehicleTypes)
                                        {
                                            <tr>
                                                <td>@VehicleType.ID</td>
                                                <td><strong>@VehicleType.Name</strong></td>
                                                <td>
                                                    @if (VehicleType.IsActive)
                                                    {
                                                        <span class="label label-success">Yes</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">No</span>
                                                    }
                                                </td>
                                                <td>
                                                    @VehicleType.CreatedBy
                                                    <br />
                                                    @VehicleType.CreatedOn
                                                </td>
                                                <td>
                                                    @VehicleType.ModifiedBy
                                                    <br />
                                                    @VehicleType.ModifiedOn
                                                </td>
                                                <td>
                                                    <button editId="@VehicleType.ID" class="btn btn-warning btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Edit</span></button>
                                                </td>
                                                <td>
                                                    <button deleteId="@VehicleType.ID" class="btn btn-danger btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-trash"></i> </span><span class="btn-text">Delete</span></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-muted">No Vehicle Types Found.</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Vehicle Types Row -->

<script>

    $(document).ready(function () {

        $("#AddNewVehicleType").click(function () {
            var jqxhr = $.ajax({
                type: "get",
                url: "AddNewVehicleType"
            })
                .done(function (data) {
                    $("#AddVehicleTypeRow").slideUp(function () {
                        $("#VehicleTypeForm").html(data);
                        $("#VehicleTypeForm").slideDown();
                    });
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    showMessage(errorThrown, true);
                })
                .always(function () {
                });
        });

        $("[editId]").each(function () {
            $(this).click(function () {

                var editId = $(this).attr("editId");
                console.log(editId);

                var jqxhr = $.ajax({
                    type: "get",
                    url: "EditVehicleType?VehicleTypeID=" + editId
                })
                .done(function (data) {
                    $("#AddVehicleTypeRow").slideUp(function () {
                        $("#VehicleTypeForm").slideUp().slideDown(function () {
                            $("#VehicleTypeForm").html(data);
                        });
                    });
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    showMessage(errorThrown, true);
                })
                .always(function () {
                });

            });
        });
    });
</script>