@model Transit.Web.Models.VehicleTypesViewModel

@{
    ViewBag.Title = "Vehicle Types";
}

@Html.Partial("_BreadCrumbs", Model.BreadCrumbs.ToList())

<!-- Add New Vehicle Type Row -->
<div id="AddVehicleTypeRow" class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <button id="AddNewVehicleType" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Add New Vehicle Type</span></button>
                    <button data-toggle="modal" data-target="#responsive-modal" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Open Modal</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add New Vehicle Type Row -->

<!-- Vehicle Type Form Row -->
<div id="VehicleTypeForm" class="row"></div>
<!-- Vehicle Type For, Row -->

<!-- Vehicle Types Row -->
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    @if (Model.VehicleTypes != null)
                    {
                        <div class="table-wrap">
                            <div class="table-responsive">
                                <table class="table display mb-30">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>IsActive</th>
                                            <th>Created</th>
                                            <th>Modified</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var VehicleType in Model.VehicleTypes)
                                        {
                                            <tr>
                                                <td>@VehicleType.ID</td>
                                                <td><strong>@VehicleType.Name</strong></td>
                                                <td>
                                                    @if (VehicleType.IsActive)
                                                    {
                                                        <span class="label label-success">Yes</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-danger">No</span>
                                                    }
                                                </td>
                                                <td>
                                                    @VehicleType.CreatedBy
                                                    <br />
                                                    @VehicleType.CreatedOn
                                                </td>
                                                <td>
                                                    @VehicleType.ModifiedBy
                                                    <br />
                                                    @VehicleType.ModifiedOn
                                                </td>
                                                <td>
                                                    <button editId="@VehicleType.ID" class="btn btn-warning btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Edit</span></button>
                                                    <button deleteId="@VehicleType.ID" class="btn btn-danger btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-trash"></i> </span><span class="btn-text">Delete</span></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p class="text-muted">No Vehicle Types Found.</p>
                    }
                    <hr />
                    <button data-toggle="modal" data-target="#addNewVehicleType-modal" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Add New Vehicle Type</span></button>
                    <button data-toggle="modal" data-target="#myeditor-modal" class="btn btn-success btn-lable-wrap left-label"> <span class="btn-label"><i class="fa fa-pencil"></i> </span><span class="btn-text">Add New Vehicle Type 2</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Vehicle Types Row -->


<div id="addNewVehicleType-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 class="modal-title">Add New Vehicle Type</h5>
            </div>
            <div class="modal-body">
                <form id="NewVehicleTypeModelForm">
                    <div class="form-group">
                        <label class="control-label col-md-3">Vehile Type Name</label>
                        <div class="input-group col-md-9">
                            <input id="NewVehicleTypeName" type="text" class="form-control" required="" name="Name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3">Status</label>
                        <div class="checkbox checkbox-success col-md-9">
                            <input data-val="true" name="IsActive" id="IsActive" value="true" type="checkbox">
                            <label for="IsActive"> IsActive</label>
                            <input name="IsActive" type="hidden" value="false">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="AddVehicleTypeModelSubmitButton" class="btn btn-danger">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="myeditor-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <form class="modal-content form-horizontal" id="editor" method="post">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="modal-title" id="editor-title">Add a new row</h5>
            </div>
            <div class="modal-body">
                <input type="number" id="id" name="id" class="hidden">
                <div class="form-group required">
                    <label for="firstName" class="col-sm-3 control-label">First Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="lastName" class="col-sm-3 control-label">Last Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="jobTitle" class="col-sm-3 control-label">Job Title</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Job Title">
                    </div>
                </div>
                <div class="form-group required">
                    <label for="startedOn" class="col-sm-3 control-label">Started On</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="startedOn" name="startedOn" placeholder="Started On" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dob" class="col-sm-3 control-label">Date of Birth</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="dob" name="dob" placeholder="Date of Birth">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>

    $(document).ready(function () {

        //$('#responsive-modal').modal('toggle');//its working 
        $("#AddVehicleTypeModelSubmitButton").click(function () {
            debugger;

            var VehicleTypeName = $("#NewVehicleTypeName").val();

            if (VehicleTypeName == undefined || VehicleTypeName.length <= 0)
            {
                AddErrors($("#NewVehicleTypeName"));
            }
            else {
                console.log("I am being hit");
                console.log(VehicleTypeName);

                var jqxhr = $.ajax(
                    {
                        type: "post",
                        url: "AddNewVehicleTypeAJAX",
                        data: { Name: VehicleTypeName }
                    })
                        .done(function (data) {
                            console.log(data);
                        })
                        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                            showMessage(errorThrown, true);
                        })
                        .always(function () {
                        });
            }
        });

        function AddErrors(control)
        {
            var span = $("<span>");
            span.addClass("help-block");
            span.attr('id', 'kingpin');
            span.html("This field is required.");            
            control.after(span);
            control.parent().closest('div').addClass("has-error has-danger");

            RemoveErrors(control);
        }

        function RemoveErrors(control)
        {
            var shit = control.childs().closest();
        }

        $("#AddNewVehicleType").click(function () {
            var jqxhr = $.ajax({
                type: "get",
                url: "AddNewVehicleType"
            })
                .done(function (data) {
                    $("#AddVehicleTypeRow").slideUp(function () {
                        $("#VehicleTypeForm").html(data);
                        $("#VehicleTypeForm").slideDown();
                    });
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    showMessage(errorThrown, true);
                })
                .always(function () {
                });
        });

        $("[editId]").each(function () {
            $(this).click(function () {

                var editId = $(this).attr("editId");
                console.log(editId);

                var jqxhr = $.ajax({
                    type: "get",
                    url: "EditVehicleType?VehicleTypeID=" + editId
                })
                .done(function (data) {
                    $("#AddVehicleTypeRow").slideUp(function () {
                        $("#VehicleTypeForm").slideUp().slideDown(function () {
                            $("#VehicleTypeForm").html(data);
                        });
                    });
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    showMessage(errorThrown, true);
                })
                .always(function () {
                });

            });
        });
    });
</script>